header {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  background-color: var(--main-color);
  height: 110px;
  align-items: center;
  font-weight: 900;
  font-family: var(--main-font);
  font-size: 1.2rem;
  color: var(--secondary-color);
  border-bottom: 5px solid white;
}
.header__links {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
header a {
  text-decoration: none;
  color: var(--secondary-color);
  position: relative;
  padding-bottom: 5px;
  border-bottom: 3px solid var(--main-color);
}
header a:hover {
  transform: translateY(-5px);
  border-bottom: 3px solid var(--secondary-color);
}
.header__phone {
  display: flex;
  align-items: center;
}
.header__phone svg {
  width: 40px;
  margin-right: 10px;
}
.header__phone svg:hover {
  cursor: pointer;
}